.contact-container, .success-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-container form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-container form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact-container form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-container form button:hover {
    background-color: #555;
}